.uptitle{
    color: #FF6E04;
    font-size: 48pt;
    font-family: 'Jost', sans-serif;
    line-height:0%;
    font-weight:400;
}
.author{
    font-size: 12pt;
    text-align:right;
    color:#3A3838;
}
h2{
    color: #044AFF;
    font-size:90pt;
    line-height:0%;
    font-weight:400;

}
    h2 span:nth-child(1){
        font-family: 'Syncopate', sans-serif;
        letter-spacing:-0.3em;
    }
    h2 span:nth-child(2){
        font-family: 'Mrs Saint Delafield', cursive;
        letter-spacing:-0.1em;
        
    }
    h2 span:nth-child(3){
        font-family: 'Hepta Slab', serif;
        font-size:72pt;
        letter-spacing:-0.4em;
    }
    h2 span:nth-child(4){
        font-family: 'Noto Serif Bengali', serif;
        letter-spacing:-0.2em;
        font-size:72pt;
        font-weight:700;
    }
    h2 span:nth-child(5){
        font-family: 'Arimo', sans-serif;
        letter-spacing:-0.2em;
        font-size:86pt;
    }
    h2 span:nth-child(6){
        font-family: 'Stick No Bills', sans-serif;
        letter-spacing:-0.2em;
        font-size:80pt;
    }
    h2 span:nth-child(7){
        font-family: 'STIX Two Text', serif;
        font-weight:400;
        letter-spacing:0.05em;
    }
    h2 span:nth-child(8){
        font-family: 'Jost', sans-serif;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(9){
        font-family: 'Grenze Gotisch', cursive;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(10){
        font-family: 'Handjet', cursive;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(11){
        font-family: 'League Gothic', sans-serif;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(12){
        font-family: 'Mrs Saint Delafield', cursive;
    }
    h2 span:nth-child(13){
        font-family: 'Stick No Bills', sans-serif;
        letter-spacing:-0.3em;
        font-size:72pt;
    }
    h2 span:nth-child(14){
        font-family: 'Jost', sans-serif;
        letter-spacing:0.05em;
    }
    h2 span:nth-child(15){
        font-family: 'Source Serif 4', serif;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(16){
        font-family: 'Truculenta', sans-serif;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(17){
        font-family: 'Jost', sans-serif;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(18){
        font-family: 'Patrick Hand', cursive;
        letter-spacing:-0.4em;
    }
    h2 span:nth-child(19){
        font-family: 'Handjet', cursive;
        letter-spacing:-0.2em;
    }
    h2 span:nth-child(20){
        font-family: 'Alegreya', serif;
        font-weight:700;
    }
p{
    color:#3A3838;
    font-family: 'Jost', sans-serif;
    font-size: 12pt;
}
blockquote{
    color:#27CC73;
    font-family: 'Josefin Slab', serif;
    font-style: 'SemiBold 600';
    font-size: 48pt;
    text-align: left;
    }
.response{
    color: #FF6E04;
}